@import "../components/contacts.css";
@import "../components/footer.css";
@import "../components/projects.css";
@import "../components/header.css";
@import "../components/about.css";

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 500%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 4px #ef3550, 8px 8px #f48fb1, 12px 12px #7e57c2,
    16px 16px #2196f3, 20px 20px #26c6da, 24px 24px #43a047, 28px 28px #eeff41,
    32px 32px #f9a825, 36px 36px #ff5722;
  padding-bottom: 35px;
}

body {
  background-color: rgb(167, 239, 248);
}

.quote {
  padding: 20vh;
  justify-self: center;
  font-family: sans-serif;
  font-size: 28px;
  color: #ff5722;
  font-style: italic;
}
