.contacts h2 {
  background-color: #eeff41;
  width: 100px;
  margin: 100px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border-radius: 50px;
}

.contacts h2:hover {
  background-color: black;
  color: #eeff41;
}

.contacts div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  align-items: center;
}

.contacts a {
  background-color: #7e57c2;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 25px;
  border-radius: 500px;
  color: #eeff41;
}

.contacts a:hover {
  display: flex;
  justify-content: center;
  background-color: #7e57c2;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  padding: 25px;
  border-radius: 500px;
  color: #eeff41;
  box-shadow: inset 5px 5px 40px #eeff41;
}
